<style type="text/css">
.active-menu-about a{
    background-color: #080808;
    color: #fff !important;
 }
</style>
<div class="row">
  <div class="col-lg-12">
    <p class="text-shadow">
      <%= link_to 'AMPattern', root_path %> is a leading career portal helping career aspirants in their online Test. We publish best guidance and latest reading material to help our viewers in their upcoming competitive exams and interviews. This site will enlighten the nature and scope of interview questions that will be asked in various company interviews, keeping in view the present interviews scenario. Most companies use the same general questions during the interviews, and most of them are prepared for these queries, but when it comes about job specific questions, some candidates don't have enough preparation, in this section we carefully selected some commonly asked questions and their answers to help you be prepared for your job interview.Also one the important part of this website is that below we have listed all the Company Related Interview Questions and answers. Feel free to comment on any Company Related Interview Questions or answer by the comment feature available on the page.<br>
      <br>
      Our research showed that, the more tests you take the easier it gets and eventually passing these tests becomes a simple routine. So our team found that there were thousands of people who desperately needed these practice tests each month. But the quality and number of tests available online just didn't help enough with passing the real thing. Worst of all the questions and tests were not structured in the same way as the real thing.The questions mentioned in this site are useful for various placement exams (Specially focused on IT questions) and competitive exams. These will help students who are preparing for any type of competitive examinations.<br>
      <br>
      Questions given here are extremely useful for all kind of competitive exams like Common Aptitude Test (CAT),MAT, GMAT, IBPS Exam, CSAT, CLAT , Bank Competitive Exams, ICET, UPSC Competitive Exams, CLAT, SSC Competitive Exams, XAT, GRE, Defense Competitive Exams, L.I.C/ G. I.C Competitive Exams , Railway Competitive Exam, Career Aptitude Test (IT Companies) and etc.

    </p>
  </div>
</div>