@font-face {
    font-family: swissFontsRoman;
    src: url(swiss_fonts/swiss.ttf);
}
@font-face {
    font-family: swissFontsitalic;
    src: url(swiss_fonts/swissi.ttf);
}
@font-face {
    font-family: eurostile;
    src: url(eurostile/Eurostile.ttf);
}