<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="resume-heading">
			<h3>Kranti Kumar</h3>
			<span>Contact No: +91 9738298305</span><br>
			<span>Email: kranti_kumar@hotmail.com</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 resume-body">
		<div>
			<h5>Synopsis:</h5>
			<p>Around 1.7 years of IT experience in Web Development.</p>
		</div>
		<div>
			<h5>Professional Summary</h5>
			<p>Around 1.7 years of IT experience in Web Development.</p>
		</div>
		<div>
			<h5>Skills</h5>
			<p>Ruby on Rails, Bootstrap, HTML5, CSS3, JavaScript, jQuery, AJAX, PHP</p>
		</div>
		<div>
			<h5>Experience</h5>
			<span>MONTH 20XX</span> - <span>PRESENT</span>
			<p>Around 1.7 years of IT experience in Web Development.</p>
		</div>
	</div>
</div>